/android/appcompat_v7/bin
/android/appcompat_v7/gen
/android/CommonLibs/gen
/android/CommonLibs/bin
/android/FendDuWomaLibs/gen
/android/FendDuWomaLibs/bin
/android/FendDuWoman/gen
/android/FendDuWoman/bin
/android/FengDuLibs/gen
/android/FengDuLibs/bin
/android/FengDuMan/gen
/android/FengDuMan/bin
/android/FengDuManLibs/gen
/android/FengDuManLibs/bin
